## STRINGS

In [2]:
# 1. Given the string text = "Hello World Python", write code to:
# •	Get the first 5 characters if the string length is greater than 10, otherwise get the last 3 characters
# •	Store the result in a variable called result

text="Hello World python"
if len(text)>10:
    result=text[0:5]
    print(result)
else:
    result=text[-3:]
    print(result)

Hello

In [3]:
# 2. You have name = "alice smith". Write code to:
# •	Capitalize the string if it contains a space, otherwise convert it to uppercase
# •	Use a conditional expression (ternary operator)


name='alice smith'
name.capitalize() if (' ' in name) else (name.upper())

'Alice smith'

In [4]:
# 3. Given sentence = "The quick brown fox", create a variable word_count that:
# •	Contains the number of words in the sentence
# •	Then create message that says "Long sentence" if word_count > 3, else "Short sentence"


sentence="The quick brown fox"
word_count=len(sentence.split())

if word_count>3:
    print("Long sentence")
else :
    print("short sentence")

Long sentence

In [5]:
# 4. You have email = "user@example.com". Write code to:
# •	Extract the username (part before @) if email contains @, otherwise return "Invalid"
# •	Store in variable username

email="user@example.com"
if '@' in email:
    print(email[:email.find('@')])
else:
    print("Invalid")

user

In [6]:
# 5. Given text = " Python Programming ", write a single line that:
# •	Strips whitespace, converts to lowercase, and capitalizes first letter
# •	Only if the original text length > 5


text=" Python Programming "
(((text.strip()).lower()).capitalize()) if len(text)>5 else "nothing"

'Python programming'

## LISTS

In [7]:
# 6. You have numbers = [10, 25, 30, 45, 50]. Write code to:
# •	Create first_half with first 3 elements if list length > 4, else entire list
# •	Create sum_result with sum of first_half

numbers=[10,25,30,45,50]
if len(numbers)>4:
    result=numbers[:len(numbers)//2]
    print(result)
else:
    print(numbers)
print(sum(numbers[:len(numbers)//2]))

[10, 25]
35

In [8]:
# 7. Given fruits = ["apple", "banana", "cherry"], write code to:
# •	Add "orange" to the list if "banana" is in the list
# •	Sort the list in reverse order if it has more than 3 elements


fruits = ["apple", "banana", "cherry"]
if 'banana' in fruits:
    fruits.append("orange")
print(fruits)
if len(fruits)>3:
    fruits.sort(reverse=True)
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'apple']

In [9]:
# 8. You have data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Create:
# •	evens list containing only even numbers using list comprehension
# •	odds list containing only odd numbers using list comprehension


data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens=[x for x in data if x%2==0]
odds=[x for x in data if x%2!=0]
print(f"evens:{evens}\nodds:{odds}")

evens:[2, 4, 6, 8, 10]
odds:[1, 3, 5, 7, 9]

In [10]:
# 9. Given scores = [85, 92, 78, 96, 88], write code to:
# •	Find highest score using max()
# •	Create grade variable: "A" if highest >= 90, "B" if >= 80, else "C"

import math
scores = [85, 92, 78, 96, 88]
highest=max(scores)
if highest>=90:
    print("Eligible with first class")
elif highest>=80:
    print("Eligible")
else:
    print('C')

Eligible with first class

In [11]:
# 10. You have nested = [[1, 2], [3, 4], [5, 6]]. Write code to:
# •	Get the second element of the first sublist
# •	Create result that doubles this value if it's even, else keeps it same


nested = [[1, 2], [3, 4], [5, 6]]
print(nested[0][1])

2

# TUPLES

In [12]:
# 11. Given coordinates = (10, 20, 30), write code to:
# •	Unpack into variables x, y, z
# •	Create is_positive boolean that's True if all values > 0


coordinates=(10,20,30)
x,y,z=coordinates
is_positive=all(val>0 for val in coordinates)
print(is_positive)

True

In [13]:
# 12. You have student = ("Alice", 85, "Math"). Write code to:
# •	Extract name, score, and subject using tuple unpacking
# •	Create status = "Pass" if score >= 60, else "Fail"

student=("Alice",85,"math")
name,score,subject=student
if score>=60:
    status="pass"
    print(status)
else:
    print("fail")

pass

In [14]:
# 13. Given point1 = (1, 2) and point2 = (3, 4), write code to:
# •	Create combined tuple by concatenating both tuples
# •	Check if length of combined tuple equals 4

point1=(1,2)
point2=(3,4)
t1=point1+point2
if len(t1)==4:
    print("the length is 4")
else:
    print("length is not 4")

the length is 4

In [15]:
# 14. You have data = (5, 10, 5, 20, 5, 30). Write code to:
# •	Count how many times 5 appears using .count()
# •	Create frequency = "High" if count > 2, else "Low"

data=(5,10,5,20,5,30)
print("no.of 5s in data: ",data.count(5))
if data.count(5)>2:
    frequency="High"
    print("frequency is ",frequency)
else:
    frequency='Low'
    print("frequency is ",frequency)

no.of 5s in data:  3
frequency is  High

In [16]:
# 15. Given info = (("John", 25), ("Alice", 30), ("Bob", 20)), write code to:
# •	Access Alice's age (second element of second tuple)
# •	Create category = "Adult" if age >= 18, else "Minor"

info = (("John", 25), ("Alice", 30), ("Bob", 20))
print(info[1][1])
age=info[1][1]
if age>=18:
    category="Adult"
    print("category is ",category)
else:
    category="Minor"
    print("category is ",category)

30
category is  Adult

# SET

In [17]:
# 16. You have list1 = [1, 2, 2, 3, 3, 4]. Write code to:
# •	Create unique_set from the list
# •	Create has_duplicates boolean (True if original list length > set length)

list1=[1,2,2,3,3,4]
unique_set=set(list1)
print(unique_set)
has_duplicates=len(list1)>len(unique_set)
print(has_duplicates)

{1, 2, 3, 4}
True

In [18]:
# 17. Given set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, write code to:
# •	Create common with intersection of both sets
# •	Create all_items with union of both sets
# •	Check if common set is not empty

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
common=set1.intersection(set2)
all_items=set1.union(set2)
print(f"common elements are: {common}")
print(f"all items are: {all_items}")
has_common=len(common)>0
print("has common elements",has_common)

common elements are: {3, 4}
all items are: {1, 2, 3, 4, 5, 6}
has common elements True

In [19]:
# 18. You have colors = {"red", "blue", "green"}. Write code to:
# •	Add "yellow" if set size < 4
# •	Create color_count with the final size of the set

colors = {"red", "blue", "green"}
if len(colors)>4:
    colors.add('yellow')
color_count=len(colors)
print(color_count)

3

In [20]:
# 19. Given tags1 = {"python", "coding", "fun"} and tags2 = {"java", "coding", "work"}, write code to:
# •	Find tags that are in tags1 but not in tags2
# •	Store result in unique_tags1

tags1 = {"python", "coding", "fun"}
tags2 = {"java", "coding", "work"}
unique_tags1=tags1-tags2
print(unique_tags1)

{'python', 'fun'}

In [21]:
# 20. You have numbers_set = {1, 2, 3, 4, 5}. Write code to:
# •	Create even_set containing only even numbers using set comprehension
# •	Check if even_set is a subset of numbers_set

numbers_set = {1, 2, 3, 4, 5}
even_set={x for x in numbers_set if x%2==0}
print(even_set)
print(even_set.issubset(numbers_set))

{2, 4}
True

# Dictionary

In [22]:
# 21. Given student = {"name": "John", "age": 20, "grade": 85}, write code to:
# •	Get the grade using .get() method with default value 0
# •	Create letter_grade = "A" if grade >= 90, "B" if >= 80, else "C"

student = {"name": "John", "age": 20, "grade": 85}
grade=student.get('grade',0)
letter_grade='A' if grade>=90 else 'B' if grade>=80 else 'C'
print(letter_grade)

B

In [23]:
# 22. You have inventory = {"apples": 50, "bananas": 30, "oranges": 20}. Write code to:
# •	Get total items using sum() on values
# •	Add "grapes": 25 if total items < 120

inventory = {"apples": 50, "bananas": 30, "oranges": 20}
total_items=sum(inventory.values())
inventory.update({"grapes":25}) if total_items<120 else None
print(inventory)

{'apples': 50, 'bananas': 30, 'oranges': 20, 'grapes': 25}

In [24]:
# 23. Given person = {"first_name": "Alice", "last_name": "Smith"}, write code to:
# •	Create full_name by joining first_name and last_name with space
# •	Create initials with first letter of each name (use indexing)

person = {"first_name": "Alice", "last_name": "Smith"}
full_name=' '.join(person.values())
fname=person["first_name"]+" "+person["first_name"][0]
lname=person["last_name"]+" " +person["last_name"][0]
print(f"Full name: {full_name}")
print(f"{fname}\n{lname}")

Full name: Alice Smith
Alice A
Smith S

In [25]:
# 24. You have scores = {"math": 85, "science": 92, "english": 78}. Write code to:
# •	Create subjects list from dictionary keys
# •	Create avg_score by calculating average of values
# •	Create performance = "Good" if avg_score >= 80, else "Needs Improvement"

scores = {"math": 85, "science": 92, "english": 78}
subject=scores.keys()
avg_score=sum(scores.values())/len(scores)
performance="Good" if avg_score>=80 else "Needs Improvement"
print(f"subject: {subject}\navg_score: {avg_score}\nperformance: {performance}")

subject: dict_keys(['math', 'science', 'english'])
avg_score: 85.0
performance: Good

In [26]:
# 25. Given data = {"users": ["John", "Alice"], "active": True, "count": 2}, write code to:
# •	Check if "active" key exists and its value is True
# •	Get first user from users list if it exists, else "No users"

data = {"users": ["John", "Alice"], "active": True, "count": 2}

if 'active' in data and data.get('active')==True:
    print("there is a key 'active' and its value is 'True'")
first_user=data.get('users',[])
print(first_user[0] if first_user else "No users")

there is a key 'active' and its value is 'True'
John

In [27]:
# 26. You have temperature = 75. Write code to:
# •	Create weather = "Hot" if temp > 80, "Warm" if > 60, "Cold" if <= 60
# •	Use chained conditional expressions (nested ternary operators)

temp=75
weather="Hot" if temp>80 else "warm" if temp>60 else "cold" 
print(weather)

warm

In [28]:
# 27. Given username = "admin" and password = "secret123", write code to:
# •	Create access = "Granted" if both username == "admin" AND password length > 6
# •	Use boolean operators

username="admin"
password="secret123"
access="Granted" if username=="admin" and len(password)>6 else "denied"
print(access)

Granted

In [29]:
# 28. You have age = 25 and has_license = True. Write code to:
# •	Create can_drive boolean that's True if age >= 18 AND has_license is True
# •	Create status message based on can_drive value
age=25
has_licence=True
can_drive=age>=18 and has_licence
status_msg="can drive" if can_drive else "can not drive"
status_msg

'can drive'

In [30]:
# 29. Given score = 85 and attendance = 0.9, write code to:
# •	Create eligible = True if score >= 80 OR attendance >= 0.85
# •	Create bonus = 10 if eligible and score > 90, else 5 if eligible, else 0
score=85
attendence=0.9
eligible=True if score>=80 or attendence>=0.85 else False
bonus=10 if eligible and score>90 else 5 if eligible else 0
print(eligible)
print(bonus)

True
5

In [31]:
# 30. you have x = 15. Write code to:
# •	Check if x is between 10 and 20 (inclusive) using chained comparison
# •	Create range_check with the boolean result
# •	Create message based on the result

x=15
range_check=10<=x<=20
message="x is within range" if range_check else " x is out of range"
print(message)

x is within range

# new

In [32]:
# 31. Given text = "Python is awesome" and words_list = text.split(), write code to:
# •	Create word_lengths dictionary where keys are words and values are their lengths
# •	Use dictionary comprehension
text="Python is awesom"
words_list=text.split()
word_lengths={i:len(i) for i in words_list}

print(word_lengths)

{'Python': 6, 'is': 2, 'awesom': 6}

In [33]:
# 32. You have data = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]. Write code to:
# •	Create names list with just the names using list comprehension
# •	Create high_scorers set with names of people who scored >= 80

data = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
name=[i[0] for i in data]
high_scores={i[0] for i in data if i[1]>=80}

print(name)
print(high_scores)

['Alice', 'Bob', 'Charlie']
{'Bob', 'Alice'}

In [34]:
# 33.	Given info = {"name": "John", "scores": [85, 90, 78], "active": True}, write code to:
# •	Calculate average score from the scores list
# •	Create status = "Active High Performer" if active and avg >= 80, else "Active" if active, else "Inactive"

info = {"name": "John", "scores": [85, 90, 78], "active": True}
avg_score=sum(info['scores'])/len(info['scores'])
status='Active High Performer' if (info['active'] and avg_score>=80 ) else 'Active' if info['active'] else 'inactive'
print(f"Avg_score{avg_score}")
print(f"status:{status}")

Avg_score84.33333333333333
status:Active High Performer

In [35]:
# 34.	You have sentence = "Hello World" and char_set = set(sentence.lower()). Write code to:
# •	Remove spaces from char_set if they exist
# •	Create vowel_count by counting vowels (a,e,i,o,u) in char_set
# •	Create has_many_vowels = True if vowel_count > 2

sentence = "Hello World"
vowel_count=0
char_set = set(sentence.lower())
print("before:",char_set)
char_set.discard(' ')
print("after:",char_set)
for i in char_set:
    if i in 'aeionu':
        vowel_count=vowel_count+1
has_many_vowels=vowel_count>2
print("vowel_count:",vowel_count)
print(has_many_vowels)

before: {'o', 'h', ' ', 'd', 'w', 'l', 'e', 'r'}
after: {'o', 'h', 'd', 'w', 'l', 'e', 'r'}
vowel_count: 2
False

In [36]:
# 35.	Given students = [{"name": "Alice", "grade": 85}, {"name": "Bob", "grade": 92}], write code to:
# •	Create top_student with the student dictionary that has the highest grade
# •	Use max() function with appropriate key parameter
from operator import itemgetter
students = [{"name": "Alice", "grade": 85}, {"name": "Bob", "grade": 92}]
top_student=students[0]
for student in students[1:]:
    if student['grade']>top_student['grade']:
        top_student=student
print('top student:',top_student['name'])

top student: Bob

In [37]:
# 36.	You have mixed_data = [1, "hello", [2, 3], {"key": "value"}, (4, 5)]. Write code to:
# •	Create types_count dictionary counting how many of each type using type() and dictionary comprehension
# •	Handle the counting without loops
mixed_data = [1, "hello", [2, 3], {"key": "value"}, (4, 5)]
types_count={t:sum(type(x)==t for x in mixed_data) for t in set(type(x) for x in mixed_data)}
print(types_count)

{<class 'dict'>: 1, <class 'list'>: 1, <class 'int'>: 1, <class 'tuple'>: 1, <class 'str'>: 1}

In [38]:
# 37.	Given text1 = "listen" and text2 = "silent", write code to:
# •	Check if they are anagrams by comparing sorted characters
# •	Create are_anagrams boolean result
# •	Use sorted() and conditional expression
text1 = "listen"
text2 = "silent"
are_anagrams=True if sorted(text1)==sorted(text2) else False
print(are_anagrams)

True

In [39]:
# 38.	You have matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]. Write code to:
# •	Extract the diagonal elements (positions [0][0], [1][1], [2][2]) into a list
# •	Calculate sum of diagonal elements
# •	Use list comprehension with enumerate or direct indexing

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l=[]
[l.append(matrix[i][i]) for i in range(len(matrix))]
print(l)
print("sum of diagonal elements are: ",sum(l))

[1, 5, 9]
sum of diagonal elements are:  15

In [40]:
# 39.	Given shopping_cart = {"apple": 3, "banana": 2, "orange": 1} and prices = {"apple": 0.5, "banana": 0.3, "orange": 0.8}, write code to:
# •	Calculate total cost using dictionary comprehension and sum()
# •	Apply 10% discount if total > 2.0
# •	Create final bill amount

shopping_cart = {"apple": 3, "banana": 2, "orange": 1}
prices = {"apple": 0.5, "banana": 0.3, "orange": 0.8}
item_cost={item:quantity*prices[item] for item, quantity in shopping_cart.items()}
total_cost=sum(item_cost.values())
final_bill=total_cost*0.1 if total_cost>2 else total_cost
print(f"items and their corresponding costs: {item_cost}")
print(f"Final bill amount is: {final_bill}")

items and their corresponding costs: {'apple': 1.5, 'banana': 0.6, 'orange': 0.8}
Final bill amount is: 0.29

In [41]:
# 40.	You have user_input = " Alice, 25, Engineer ". Write code to:
# •	Clean and split the input to get name, age, and profession
# •	Create profile dictionary with appropriate keys
# •	Convert age to integer and add validation (age must be between 0 and 120)

user_input = " Alice, 25, Engineer "
name,age,profession=user_input.strip().replace(',','').split()
try:
    age=int(age)
    if not (0<=age<=120):
        raise ValueError("Invalid age")
except Exception as e:
    print("The error occured is",e)
    age=None
profile={"Name":name,"Age":age,"Profession":profession}

print(user_input)
print(profile)

 Alice, 25, Engineer
{'Name': 'Alice', 'Age': 25, 'Profession': 'Engineer'}

# PATTERNS

In [42]:
rows = 5
cols = 10

for i in range(rows):
    print("*" * cols)

**********
**********
**********
**********
**********

In [43]:
# rectangle
rows=int(input("enter rows: "))
columns=int(input("enter columns: "))
for i in range(rows):
    for j in range(columns):
        print("*", end=" ")
    print()

KeyboardInterrupt: Interrupted by user

In [ ]:
# hollow rectangle
rows=int(input("enter rows: "))
columns=int(input("enter columns: "))

for i in range(rows):
    for j in range(columns):
        if i == 0 or i == rows - 1 or j == 0 or j == columns - 1:
            print("*", end=" ")  # Print '*' for borders
        else:
            print(" ", end=" ")  # Print space for the inside
    print()  # Move to next row

* * *
*   *
* * *

In [ ]:
rows=int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
rows=int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows-i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i+1):
        print("*",end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
rows=int(input("enter no.of rows: "))
for i in range(rows):
    print("-"*(rows-i),end=" ")
    print()

---
--
-

In [ ]:
rows=int(input("enter no.of rows: "))
for i in range(rows):
    print("-"*(rows-i),end=" ")
    for j in range(0,i+1):
         print("*",end=" ")
    print()

----- *
---- * *
--- * * *
-- * * * *
- * * * * *

In [ ]:
for i in range(5):
    print(" "*(rows-i), end=" ")
    if i==3:
        for j in range(i+1):
            print("*", end=" ")
        print()
    else:
        for j in range(i+1):
            if j==0 or j==i:
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

      *
     * *
    *   *
   * * * *
  *       *

In [ ]:
rows=int(input("enter no.of rows: "))
for i in range(rows):
    print(" "*(rows-i),end=" ")
    for j in range(0,i+1):
        print(i,end=" ")
    print()

     0
    1 1
   2 2 2
  3 3 3 3

In [ ]:
rows=5
count=0
for i in range(1,rows+1):
    print(" "*(rows-i),end=" ")
    for j in range(i):
             count+=1
             print(count,end=" ")
    print()

     1
    2 3
   4 5 6
  7 8 9 10
 11 12 13 14 15

In [ ]:
rows=int(input("enter no.of rows: "))
for i in range(rows):
    print("-"*(rows-i),end=" ")
    for j in range(i,i+1):
         print(j,end=" ")
    print()

----- 0
---- 1
--- 2
-- 3
- 4

In [10]:
rows=int(input("enter no.of rows: "))
for i in range(rows):
    print(" "*(rows-i),end=" ")
    for j in range(0,i+1):
         print("*",end=" ")
    print()
for i in range(rows-1):
     print(" "* (i+2),end=" ")
     for j in range((rows-1)-i):
          print("*",end=" ")
     print()

      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
import numpy as np

In [ ]:
x = True+True+False*True
print(x)

2

In [ ]:
x=y=257
x is y

True

In [ ]:
x=257
y=257
x is y

False

In [ ]:
x=256
y=256
x is y

True

In [ ]:
d = {}
d[(1, 2)] = "tuple key"
d[[1, 2]] = "list key"  # What happens?

TypeError: unhashable type: 'list'

In [ ]:
dct={(1,2):[1,2]}
dct

{(1, 2): [1, 2]}

In [ ]:
x = 10
gen = (x for x in range(3))
list(gen)  # What's returned?
print(x)   # What's x now?

In [ ]:
x = "outer"
result = [x for i in range(2) for x in ["inner"]]
print(x)

outer

In [ ]:
d1 = {True: "bool", 1: "int", 1.0: "float"}
d2 = {1: "int", True: "bool", 1.0: "float"}
print(len(d1), len(d2))
print(d1, d2)
# What are the lengths and contents?

1 1
{True: 'float'} {1: 'float'}

In [2]:
a=float(5)
print(type(a))
print(a)

<class 'float'>
5.0

In [3]:
a=2.9+2j
print(type(a))

<class 'complex'>

In [4]:
li=[1,2,3,4]
print(type(li))

<class 'list'>

In [5]:
li=eval(input("enter a list"))

In [8]:
print("sneha\n 20 \tmalappuram")

sneha
 20 	malappuram

In [11]:
a="abcdefghij"
#  0123456789
a[::-1]

'jihgfedcba'

In [3]:
def sum_natural(n):
    if n == 0:
        return 0
    return n + sum_natural(n - 1)

print(sum_natural(5))  # Output: 15

15

In [2]:
count=0
n=5
for i in range(n):
    count=count+i
print(count)

10

In [31]:
def factorial(n):
    if n == 0:            # Base case
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

print(factorial(5))  # Output: 120

120

In [5]:
def countdown(n):
    if n == 0:
        print("Blast off!")  # base case
    else:
        print(n)
        countdown(n - 1)
a=countdown(10)

10
9
8
7
6
5
4
3
2
1
Blast off!

In [6]:
sum=0
for i in range(6):
    sum=sum+i
print(sum)

15

In [9]:
def factorial_iterative(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
a=factorial_iterative(5)
a

120

In [21]:
n1=0
n2=1
n=7
sum=n1+n2
# print(n1)
# print(n2)
if n==1:
    print(0)
elif n==2:
    print(1)
else:
    for i in range (3,n+1):
        sum=n1+n2
        n1=n2
        n2=sum
    print(sum)

8

In [23]:
def fibonacci(n):
    n1=0
    n2=1
    n=7
    sum=n1+n2
    # print(n1)
    # print(n2)
    if n==1:
        print(0)
    elif n==2:
        print(1)
    else:
        for i in range (3,n+1):
            sum=n1+n2
            n1=n2
            n2=sum
    return sum

fibonacci(7)

8

In [33]:

def sum_n(n):
    if n==0:
        return 0
    else:
        return n+sum_n(n-1)
sum_n(5)

15

In [58]:
def count_digits(n):
    if n == 0:
        return 0
    return ((1 + count_digits(n // 10)))

count_digits(3456)

4

In [43]:
def sum_digits(n):
    if n==0:
        return 0
    else:
        return (n%10)+(sum_digits(n//10))
sum_digits(1)

1

In [62]:
def count_digits(n):
    if n == 0:
        return 1
    return 1 + count_digits(n // 10) if n // 10 != 0 else 1

count_digits(111)

3

In [65]:
def count_digits(n):
    if n == 0:
        return 1
    n = abs(n)
    if n < 10:
        return 1
    return 1 + count_digits(n // 10)

count_digits(111)

3

In [12]:
a={1,2,3,4}
b={5,6,1,2,3,4}
a.isdisjoint(b)

False

In [9]:
a.issubset(b)

True

In [11]:
b.issuperset(a)

True